@import "tailwindcss";

@theme {
  /* light*/
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-primary: #6366f1;
  --color-secondary: #14b8a6;
}

/* dark  */
:root[class~="dark"] {
  --color-background: #0f1117;
  --color-foreground: #e5e7eb;
}
